h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.container {
    display: flex;
}

#one {
    width: 30%;
    background: #4d4f56;
}

#two {
    width: 30%;
    background: #45204d;
}

#three {
    width: 30%;
    background: #454e54;
}